<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>The Trinity Palette</title>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
   <div class="sparkles">
      <div class="sparkle" style="top:60%; left:20%; animation-delay: 0s;"></div>
      <div class="sparkle" style="top:30%; left:30%; animation-delay: 1s;"></div>
      <div class="sparkle" style="top:70%; left:40%; animation-delay: 2s;"></div>
      <div class="sparkle" style="top:50%; left:80%; animation-delay: 1.5s;"></div>
      <div class="sparkle" style="top:20%; left:90%; animation-delay: 0.5s;"></div>
      <div class="sparkle" style="top:10%; left:10%; animation-delay: 0s;"></div>
      <div class="sparkle" style="top:30%; left:60%; animation-delay: 1s;"></div>
      <div class="sparkle" style="top:70%; left:40%; animation-delay: 2s;"></div>
      <div class="sparkle" style="top:50%; left:90%; animation-delay: 1.5s;"></div>
      <div class="sparkle" style="top:20%; left:70%; animation-delay: 0.5s;"></div>
      <div class="sparkle" style="top:10%; left:40%; animation-delay: 0s;"></div>
      <div class="sparkle" style="top:30%; left:60%; animation-delay: 1s;"></div>
      <div class="sparkle" style="top:70%; left:40%; animation-delay: 2s;"></div>
      <div class="sparkle" style="top:50%; left:80%; animation-delay: 1.5s;"></div>
      <div class="sparkle" style="top:20%; left:70%; animation-delay: 0.5s;"></div>
      <div class="sparkle" style="top:50%; left:10%; animation-delay: 2s;"></div>
      <div class="sparkle" style="top:10%; left:20%; animation-delay: 1.5s;"></div>
      <div class="sparkle" style="top:40%; left:0%; animation-delay: 0.5s;"></div>
  </div>
  <div class="container">
    <h1>The Trinity Palette</h1>
    <p>Welcome to a world of pastel dreams and artistic treasures 🎨✨</p>
    <a href="/shop" class="btn">Enter Gallery</a>
    <a href="/blog" class="btn">Read from blog</a>
  </div>
</body>
</html>
